<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Live Prize Scores</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap/css/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <div class="text-box">
            <h1 class="cover-heading">Live Prize Trivia Scores</h1>
            <p class="lead">List of best scores for each team based on the current number of scores posted by the team 3 Dog Night.</p>
            <table>
            {% for item in items %}
            <tr>
              <td class="c1">{{item.name}}</td>
              <td class="c2">{{item.score}}</td>
            </tr>
            {% endfor %}
            </table>
            <div class="inner">
              <p> Scores last updated on {{date.time}} </p>
            </div>
            <div class="inner">
              <a href='https://www.freepik.com/free-vector/abstract-design-background_1366169.htm'>Image Source: Designed by Freepik</a>
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
            </div>
          </div>

          <div class="mastfoot">

          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="boostrap/js/bootstrap.min.js"></script>
  </body>
</html>